{% set content_prerendered %}{{ content }}{% endset %}
{% set content_rendered = content_prerendered|split('¤')[0] %}
{% set pageContent = content_rendered|split('¶') %}

{% set youtube = false %}
{% set video = false %}
{% set articleImages = [] %}
{% set didLoop = false %}

{% if pageContent|length %}
  <div class="content">
  <article class="article" role="article" typeof="schema:Article">
    {% set title = pageContent[0]|split('views-row">')[1] %}
    {% set meta = pageContent[1]|trim %}
    {% set text = pageContent[2]|trim %}

    {# let's do some duck typing #}
    {% if not (3 > (pageContent|length - 1)) and not (pageContent[3] is empty) %}
      {% if pageContent[3]|trim[:4] == "/sit" %}
        {# this must be a local video #}
        {% set video = pageContent[3]|trim %}
      {% elseif pageContent[3]|trim[:4] == "<img" %}
        {# this must be the first image #}
        {% set articleImages = articleImages|merge([pageContent[3]|trim]) %}
      {% else %}
        {# must be a youtube video id then #}
        {% set youtube = pageContent[3]|trim %}
      {% endif %}
    {% endif %}

    {% if not (4 > (pageContent|length - 1)) %}
      {% if pageContent[4]|trim[:4] == "/sit" %}
        {# this must be a local video #}
        {% set video = pageContent[4]|trim %}
      {% else %}
        {# otherwise from here on can only come images #}
        {% for i in 4..pageContent|length - 1 %}
          {% if not (pageContent[i] is empty) %}
            {% set articleImages = articleImages|merge([pageContent[i]|trim]) %}
          {% endif %}
        {% endfor %}

        {% set didLoop = true %}
      {% endif %}
    {% endif %}

    {% if not (5 > (pageContent|length - 1)) and not didLoop %}
      {# from here on can only come articleImages #}
      {% for i in 5..pageContent|length - 1 %}
        {% if not (pageContent[i] is empty) %}
          {% set articleImages = articleImages|merge([pageContent[i]|trim]) %}
        {% endif %}
      {% endfor %}
    {% endif %}

    <div class="main">
      <h1>{{ title|raw }}</h1>
      <h2>{{ meta|raw }}</h2>
      {{ text|raw }}
    </div>

    <aside>
      {% if youtube and not (youtube is empty) %}
        <div class="elastic-video-wrapper"><div class="elastic-video"><iframe width="16" height="9" src="https://www.youtube-nocookie.com/embed/{{ youtube|raw }}?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></div></div>
      {% endif %}

      {% if video and not (video is empty) %}
        <video controls preload="metadata">
          <source src="{{ video|raw }}" type="video/mp4">
          <p>
            <b>Your browser does not support the video tag.</b>
            <a href="http://outdatedbrowser.com/">Get a new one!</a>
          </p>
        </video>
      {% endif %}

      {% if articleImages and not (articleImages is empty) %}
        {% for articleImage in articleImages %}
          {% if not (articleImage is empty) and (articleImage|raw|length) %}
            {% set articleImageUrl = articleImage[10:]|split('"')[0]|replace({"650_16x9":"650"}) %}
            {% set articleImageTitle = articleImage[10:]|split('"')[6] %}
            <a href="{{ articleImageUrl }}" class="img-wrapper" data-lightbox="lightbox" data-title="{{ articleImageTitle }}">
              {# the last image always has a closing div in it, that is left of the content splitting. That messes up the DOM, so we need to get only the image element before it.#}
              {{ articleImage|split('/>')[0]|raw }}/>
            </a>
          {% endif %}
        {% endfor %}
      {% endif %}
    </aside>
  </article>
  </div>
{% endif %}
